<div class="columns" style="margin-top: 100px">
  <div class="column">
    <app-card
      [name]="cardForm.controls.name.value"
      [cardNumber]="cardForm.controls.cardNumber.value"
      [expiration]="cardForm.controls.expiration.value"
    ></app-card>
  </div>
  <div class="column">
    <form (ngSubmit)="onSubmit()" [formGroup]="cardForm">
      <app-input [control]="cardForm.controls.name" label="Name"></app-input>
      <app-input
        [control]="cardForm.controls.cardNumber"
        label="Card Number"
      ></app-input>
      <div class="columns">
        <div class="column">
          <app-input
            [control]="cardForm.controls.expiration"
            label="Expiration (MM / YY)"
          ></app-input>
        </div>
        <div class="column">
          <app-input
            [control]="cardForm.controls.securityCode"
            label="Security Code"
          ></app-input>
        </div>
      </div>
      <div class="buttons">
        <button
          class="button is-primary"
          [disabled]="!cardForm.valid"
          type="submit"
        >
          Submit
        </button>
        <button
          class="button is-warning"
          type="button"
          (click)="onResetClick()"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</div>
